/* html {
	background: black;
} */
#btn-eliminar{
    margin-left: 20px;
	background-color: #dc3545;
	cursor: pointer;
}

body {
	position: absolute;
	top: 65%;
	left: 50%;
	width: 10vmin;
	height: 5vmin;
	transform: translate(-50%,-50%);
}

.arrow {
	position: absolute;
	top: 45%;
	left: 5%;
	width: 7vmin;
	height: 7vmin;
	cursor: pointer;
	background: transparent;
	border-top: 1vmin solid black;
	border-right: 1vmin solid black;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}
	
	.left {
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}
	
	.left:hover {
		border-color: orange;
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}
	
	.left::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
