<div class="form-row">
  <label for="nombre">Nombre Persona</label>
  <input
    id="nombre"
    type="text"
    class="form-control"
    placeholder="Nombre"
    #nombreInput
  />
  <br />
  <label for="apellido">Apellido Persona</label>
  <input
    id="apellido"
    type="text"
    class="form-control"
    placeholder="Apellido"
    #apellidoInput
  />
</div>
<br />
<div class="container" align="center">
  <button class="btn btn-primary" (click)="agregarPersona(nombreInput)">
    Agregar Persona
  </button>
</div>
